body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    padding-top: 60px;
}

#calendar {
    max-width: 900px;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}

.reservation-info {
    display: flex;
    justify-content: center;
}

.tabs {
    display: flex;
    justify-content: center;
}

.tab {
    padding: 15px 40px;
    border: 1px solid #ccc;
    border-bottom: none;
    background: #f1f1f1;
    cursor: pointer;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
}

.tab.active {
    background: #fff;
    border-top: 4px solid #007bff;
    font-weight: bold;
    display: block;
    pointer-events: none;
}

#month {
    display: none;
}

#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #027702;
    color: white;
    max-width: 860px;
}

.weekdays, .week {
    display: flex;
    flex-wrap: wrap;
}

.weekdays div, .week button {
    width: calc(100% / 7);
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
}

.weekdays {
    background-color: #ddd;
}

.week button {
    border: 1px solid #ddd;
    min-height: 80px;
    position: relative;
}

.free, .free-not-confirmed, .free-confirmed{
    background-color: buttonface;
    cursor: pointer;
}

.free:active, .free-not-confirmed:active, .free-confirmed:active {
    border-color: darkblue;
    background-color: #e8e4df;
}

.busy-confirmed {
    background-color: #a11a1a;
    pointer-events: none;
}

.busy-not-confirmed {
    background-color: #eccf41;
    pointer-events: none;
}

.None {
    background-color: buttonface;
    pointer-events: none;
}

/* Styles for the popup */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Popup content */
.popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 800px;
    height: 80%; /* Could be more or less, depending on screen size */
    max-height: 600px;
    position: relative;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: calc(100% - 40px); /* Adjust to avoid overlapping with padding */
    border: none;
}

#guide {
    display: none;
}

#guide-active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-top: 20px;
  border-top: 1px solid #ddd;
}

.guide-item {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.guide-item-color {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
}

#guide-confirmed-event {
  background-color: #a11a1a;
}

#guide-not-confirmed-event {
  background-color: #eccf41;
}

#guide-multiple-events {
  background-color: rgb(218, 218, 199);
}

.guide-item-value {
  font-size: 0.8rem;
}
