<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" href="/templates/css/calendar_styles.css">
</head>
<body onload="get_new_month(0)">
<div id="iframePopup" class="popup">
    <div class="popup-content" id="closeIframe">
        <span class="close">&times;</span>
        <iframe id="iframeContent"></iframe>
    </div>
</div>
<div id="calendar">
    <div id="header">
        <button id="prev" onclick="get_new_month(-1)">&lt;</button>
        <h2 id="monthYear" title="{{ date }}"> {{ month_and_year_name }} </h2>
        <button id="next" onclick="get_new_month(1)">&gt;</button>
    </div>
    <div class="weekdays">
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
        <div>Sun</div>
    </div>
    <div id="weeks"></div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script type="text/javascript" src="/templates/scripts/calendar.js"></script>
</html>
