<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/templates/css/error_page.css">
    </head>
    <body>
        <div class="card">
            <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
                <i class="crossmark">⨉</i>
            </div>
            <h1>Błąd</h1>
            <p>Niestety ktoś właśnie zarezerwował ten sam termin.<br/> Proszę wybrać inną datę.</p>
        </div>
    </body>
</html>
