<form id="msform" method="post" action="/event">
    <fieldset>
        <h2 class="fs-title" id="first-step-title"></h2>
        <h3 class="fs-subtitle" id="first-step-subtitle">Krok 1</h3>
        <input type="text" name="event_type" id="event_type" required />
        <input id="date" type="text" name="date" placeholder="Date"/>
        <input type="text" name="name" placeholder="Name" required/>
        <input type="email" name="email" placeholder="Email" required/>
        <input type="text" name="location" placeholder="location" required/>
        <button type="submit" class="action-button">Zatwierdź</button>
    </fieldset>
    <link rel="stylesheet" href="/templates/css/form_styles.css">
</form>
